<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
</head>
<body>
    <a href="/index">Add Another</a> / <a href="/view">View Existing</a>
    <p><b>First Name:</b> {{firstName}}</p>
    <p><b>Last Name:</b> {{lastName}}</p>
    <p><b>Department:</b> {{department}}</p>
    <p><b>Start Date:</b> {{startDate}}</p>
    <p><b>Job Title:</b> {{jobTitle}}</p>
    <p><b>Salary:</b> ${{salary}}</p>
</body>
</html>